<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= item.image_url %>
  </p>

  <p>
    <strong>Storage:</strong>
    <%= item.storage %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= item.status %>
  </p>

</div>
