<p style="color: blue;"><%= notice %></p>
<h1>Item Update</h1>
<br>
  <div>
    <% if @item.image_url.present? %>
      <%= image_tag(@item.image_url.url, size: "250x350", alt: @item.name) %>
    <% else %>
      <%= image_tag "sample.jpg", size: "250x350", alt: "No image available" %>
    <% end %>
  </div>
<br>
<%= render "form", item: @item %>

<br>
<br>
<div>
  <%= link_to "Show item", @item %> |
  <%= link_to "Top", items_path %>
</div>
