<p style="color: blue;"><%= notice %></p>
  <br>
  <br>
  <br>
  <div>
    <% if @item.image_url.present? %>
      <%= image_tag(@item.image_url.url, size: "250x350", alt: @item.name) %>
    <% else %>
      <%= image_tag "sample.jpg", size: "250x350", alt: "No image available" %>
    <% end %>
  </div>
  <br>
  <div>
    <h3><%= @item.name %></h3> <!-- Display the item name -->
    <br>
    <p><%= @item.description %></p> <!-- Display the item description -->
    <p><strong>保管場所</strong> <%= @item.storage %></p> <!-- Display the item storage -->

    <p><strong>タグ</strong>
      <% if @item.tags.any? %> <!-- Check if the item has any tags -->
        <%= @item.tags.pluck(:name).join(', ') %> <!-- Display the tags as a comma-separated list -->
      <% else %>
        設定されていません
      <% end %>
    </p>
  </div>
  <br>
  <h2>--Comments--</h2>
  <div>
  <% @comments.each do |comment| %>
    <div class="comment">
      <p><strong><%= comment.user.name %>:</strong> <%= comment.content %></p>
      <p><small><%= time_ago_in_words(comment.created_at) %> 前</small></p>
    </div>
  <% end %>
</div>
  <div class="button-wrapper">
        <button style="background-color: #8515F5; color: white; padding: 10px 20px; border: none; border-radius: 5px;">
            <%= link_to "コメントを書く", new_item_comment_path(@item), style: "color: inherit; text-decoration: none;" %>
        </button>
    </div>
  <br>
  <%= button_to "!アイテムを消す", @item, data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %>
  <br>
<div>
  <%= link_to "Update", edit_item_path(@item) %> |
  <%= link_to "Top", root_path %>
</div>
