<p style="color: blue;"><%= notice %></p>
  <br>
  <br>
  <br>
  <div>
    <% if @item.image_url.present? %>
      <%= image_tag(@item.image_url.url, size: "250x350", alt: @item.name) %>
    <% else %>
      <%= image_tag "sample.jpg", size: "250x350", alt: "No image available" %>
    <% end %>
  </div>
  <br>
  <div>
    <h3><%= @item.name %></h3> <!-- Display the item name -->
    <br>
    <p><%= @item.description %></p> <!-- Display the item description -->
    <p><strong>保管場所</strong> <%= @item.storage %></p> <!-- Display the item storage -->

    <p><strong>タグ</strong>
      <% if @item.tags.any? %> <!-- Check if the item has any tags -->
        <%= @item.tags.pluck(:name).join(', ') %> <!-- Display the tags as a comma-separated list -->
      <% else %>
        設定されていません
      <% end %>
    </p>
  </div>
  <br>
  <br>
<div>
  <%= link_to "Update", edit_item_path(@item) %> |
  <%= link_to "Top", root_path %>

  <%= button_to "!アイテムを消す", @item, data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %>
</div>
